# Cluster Configuration
##################################################
CLUSTER_HOSTNETWORKINGIPADDRESS=192.168.1.100
CLUSTER_HOSTNAME=rpi001
CLUSTER_NODES=("192.168.1.101" "192.168.1.102")
CLUSTER_NODES_HOSTNAMES=("rpi002" "rpi003")
NETWORK_HOSTNAME_SUFFIX=home.arpa
TZ=America/Detroit
PGID=1000
PUID=1000
ADMIN_EMAIL=your@emailaddress.com

# Windows Server Configuration (WMI Exporter)
##################################################
WMI_IP_ADDRESS=192.168.1.123

# Pi-hole Configuration
##################################################
WEBPASSWORD=#YourPassword

# Monitoring Configuration
##################################################
GRAFANA_PASSWORD=#YourPassword
